<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="../css/main.css">

    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
<div class="login_section">
    <div class="login__main">
        <form method="post" action="/member/login">
            이메일: <input type="text" name="memberEmail"> <br>
            비밀번호: <input type="password" name="memberPassword"> <br>
            <input type="submit" value="로그인">
        </form>
        <a href="/member/createform">회원가입</a>
    </div>
</div>
</body>
</html>