<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="css/main.css">

    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Study planner</title>
</head>
<body>
<!-- Header -->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">학습 플래너</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="#home" class="nav__link"><i class="uil uil-estate nav__icons"></i>Home</a>
                </li>
                <li class="nav__item">
                    <a href="#plan" class="nav__link"><i class="uil uil-notes nav__icons"></i>Palnner</a>
                </li>
                <li class="nav__item">
                    <a href="#skills" class="nav__link"><i class="uil uil-calendar-alt nav__icons"></i>Calendar</a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link"><i class="uil uil-check-square nav__icons"></i>Achieve</a>
                </li>
                <li class="nav__item">
                    <a href="/member/loginform" class="nav__link"><i class="uil uil-user nav__icons"></i>Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div>
    <th:block th:if="${sessionValue}">
        <h1>세션이 존재합니다.</h1>
    </th:block>
    <h1>session</h1>
    <h1 th:text="${session.loginEmail}"></h1>

</div>

</body>
</html>