<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="css/main.css">

    <!-- UNICONS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Study planner</title>
</head>
<body>
<!-- Header -->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">학습 플래너</a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list grid">
                <li class="nav__item">
                    <a href="#home" class="nav__link"><i class="uil uil-estate nav__icons"></i>Home</a>
                </li>
                <li class="nav__item">
                    <a href="#plan" class="nav__link"><i class="uil uil-notes nav__icons"></i>Palnner</a>
                </li>
                <li class="nav__item">
                    <a href="#skills" class="nav__link"><i class="uil uil-calendar-alt nav__icons"></i>Calendar</a>
                </li>
                <li class="nav__item">
                    <a href="#services" class="nav__link"><i class="uil uil-check-square nav__icons"></i>Achieve</a>
                </li>
                <li class="nav__item">
                    <a href="/member/loginform" class="nav__link"><i class="uil uil-user nav__icons"></i>Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="main">

<!--    <section class="user section" id="home">-->
<!--        <div class="user__container container grid">-->
<!--            <div class="user__content grid">-->
<!--                <div class="user__img">-->
<!--                    <h1>User Img</h1>-->
<!--                </div>-->
<!--                <div class="user__info">-->
<!--                    <div class="user__info-name">-->
<!--                        <h1>User Name</h1>-->
<!--                    </div>-->
<!--                    session 값 확인: <p th:text="${session.loginEmail}"></p>-->
<!--                    <span>User info</span>-->
<!--                    <span>기타 등등,,</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <section class="plan section" id="plan">
        <div class="plan__container container grid">
            <div class="user__content">
                <h1>Plan List</h1>
                <h4>전체 계획 리스트</h4>
                <div class="user__planlist">
                    <div class="planlist__data">
                        <div class="planlist__title">
                            <h3 class="planlist__name">정보처리기사</h3>
                            <span class="planlist__number">전체 달성률 : <span style="color: rgb(250, 98, 182); font-size: 20px;"> 75 </span>%</span>
                        </div>
                        <div class="planlist__bar">
                            <span class="planlist__percentage planlist__gisa" style="width: 75%;"></span>
                        </div>

                        <div class="planlist__content grid">
                            <div class="content__plan">
                                <div class="content__planlist">
                                        <span class="content__title">
                                            Creation date
                                        </span>
                                    <h5 class="content__contents">
                                        2022-03-31
                                    </h5>
                                </div>
                            </div>
                            <div class="content__plan">
                                <div class="content__planlist">
                                        <span class="content__title">
                                            Plan amount
                                        </span>
                                    <h5 class="content__contents">
                                        20
                                    </h5>
                                </div>
                            </div>
                            <div class="content__plan">
                                <div class="content__planlist-att">
                                    <div class="content__attainment">
                                            <span class="content__title">
                                                Attainment
                                            </span>
                                        <h5 class="content__contents">
                                            15
                                        </h5>
                                    </div>

                                    <div class="content__attainment">
                                            <span class="content__title">
                                                Incomplete
                                            </span>
                                        <h5 class="content__contents">
                                            5
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user__content">
                <div class="user__planlist grid">
                    <div class="planlist__data">
                        <div class="planlist__title">
                            <h3 class="planlist__name">React</h3>
                            <span class="planlist__number">전체 달성률 :<span style="color: rgb(250, 98, 182); font-size: 20px;"> 55 </span>%</span>
                        </div>
                        <div class="planlist__bar">
                            <span class="planlist__percentage planlist__gisa" style="width: 55%;"></span>
                        </div>
                        <div class="planlist__content grid">
                            <div class="content__plan">
                                <div class="content__planlist">
                                        <span class="content__title">
                                            Creation date
                                        </span>
                                    <h5 class="content__contents">
                                        2022-03-31
                                    </h5>
                                </div>
                            </div>
                            <div class="content__plan">
                                <div class="content__planlist">
                                        <span class="content__title">
                                            Plan amount
                                        </span>
                                    <h5 class="content__contents">
                                        20
                                    </h5>
                                </div>
                            </div>
                            <div class="content__plan">
                                <div class="content__planlist-att">
                                    <div class="content__attainment">
                                            <span class="content__title">
                                                Attainment
                                            </span>
                                        <h5 class="content__contents">
                                            11
                                        </h5>
                                    </div>

                                    <div class="content__attainment">
                                            <span class="content__title">
                                                Incomplete
                                            </span>
                                        <h5 class="content__contents">
                                            9
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user__content">
                <div class="user__planlist grid">
                    <div class="planlist__data">
                        <div class="planlist__title">
                            <h3 class="planlist__name">PHP</h3>
                            <span class="planlist__number">전체 달성률 : <span style="color: rgb(250, 98, 182); font-size: 20px;"> 90 </span>%</span>
                        </div>
                        <div class="planlist__bar">
                            <span class="planlist__percentage planlist__gisa" style="width: 90%;"></span>
                        </div>

                        <div class="planlist__content grid">
                            <div class="content__plan">
                                <div class="content__planlist">
                                        <span class="content__title">
                                            Creation date
                                        </span>
                                    <h5 class="content__contents">
                                        2022-03-31
                                    </h5>
                                </div>
                            </div>
                            <div class="content__plan">
                                <div class="content__planlist">
                                        <span class="content__title">
                                            Plan amount
                                        </span>
                                    <h5 class="content__contents">
                                        20
                                    </h5>
                                </div>
                            </div>
                            <div class="content__plan">
                                <div class="content__planlist-att">
                                    <div class="content__attainment">
                                            <span class="content__title">
                                                Attainment
                                            </span>
                                        <h5 class="content__contents">
                                            18
                                        </h5>
                                    </div>

                                    <div class="content__attainment">
                                            <span class="content__title">
                                                Incomplete
                                            </span>
                                        <h5 class="content__contents">
                                            2
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>

</main>

</body>
</html>